{% extends 'main/main.html' %}
{% load static %}
{% block post %}
    <link rel="stylesheet" href="{% static "Posts/css/style.css" %}" type="text/css">
    <section class="Posts">
        <div class="container-fuild">
            <div class="row justify-content-center">
                <div class="col-md-5" id="content">
                    <form action="/savechange/" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <div class="container-fuild" id="container__add">
                            <div class="row justify-content">
                                <div class="col-md-12">
                                    <input type="text" name="title" class="Post__title" value="{{ post.post_title }}">
                                </div>
                                <div class="col-md-12">
                                    <textarea name="text" class="Post__title" required>{{ post.post_text }}</textarea>
                                </div>
                                <div class="col-md-12">
                                    <input type="text" name="url" class="Post__title" value="{{ post.post_url }}">
                                </div>
                            </div>
                            <div id="Post__submit" class="row justify-content">
                                <div class="col-md-3">
                                    <input class="Post__add__buttons" type="submit" value="Сохранить">
                                </div>
                                <div class="col-md-7">
                                </div>
                                <div class="col-md-1 image-upload">
                                    <label for="file-input">
                                        <img title="Загрузить изображение" src="{% static "Posts/ico/load_img.png" %}"/>
                                    </label>
                                    <input  name="load__img" id="file-input" value="{{ post.post_image }}" accept="image/*" type="file"/>
                                </div>
                                <div class="col-md-7">
                                </div>
                            </div>
                        </div>
                        <input name="post_id" id="Post__input" type="text" value="{{ post_id}}">
                    </form>
                </div>
            </div>
        </div>
    </section>
<script type="text/javascript" src="{% static "Posts/js/posts.js" %}"></script>
{% endblock %}
