
html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #1e1e1e;
    padding-top: 4.5rem;
    margin-bottom: 4.5rem;
}

          /*header*/
.navbar {
    padding: 2px 80px;
    background-color: black !important;
    z-index: 999999;
}
.navbar-brand {
    font-family: "Corbel";
    font-size: 6vw;

    color: white !important;
    transition: 0.3s;
}
.navbar-brand img{
    width: 25px;
    height: 25px;
}
.navbar-brand:hover{
    color: #856502!important;
}
        /*end header  */

        /*left-menu*/
.navbar-nav {
    text-align: right;
    font-family: Calibri;
    font-size: 6vw;
    color: white;
    list-style: none;
}
.nav-item {
    margin: 0 0 0 60%;

}

.nav-link{
    color: white !important;
    padding-right: 20%!important;
}

.nav-link:hover {
    transition: all 0.5s;
    text-decoration: none;
    background: #3bbd7b;
    border-radius: 100px;
}

@media (min-width: 433px) {
    .nav-item {
        margin: 0 0 0 75%;
    }
    .navbar-nav{
        font-size: 17pt;
    }
    .navbar-brand{
        font-size: 17pt;
    }
}

@media (min-width: 992px) {
    .sidenav {
        padding-top: 80px;
        text-align: left;
        position: absolute;
        top: 0;
        left: 0;
        width: 230px;
        height: calc(100vh - 3.0rem);
        margin-top: 3.0rem;
        background: #2a3844;
        box-sizing: border-box;
        border-top: 1px solid rgba(0, 0, 0, 0.3);
    }
    .navbar-expand-lg .sidenav {
        flex-direction: column;
    }
    .nav-item {
    margin: 0 30px;
    }
    .nav-link{
       padding-left: 30px !important;
    }
}
           /*end left_menu*/